/*
* is a wild card selector
 */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000022;
  background-image: url("mountains.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* element selector on body */
body {
  background-color: #24292e;
}

.wrapper {
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 8px;
  max-width: 960px;
  width: 100%;
  min-height: 100vh;
}

.navbar{
  background-color: #424242;
  width: 100%;
  list-style-type: none;
  overflow: auto;
}

.navbar li{
  float: right;
  display: inline-block;
  padding: 25px;
}

.navbar li:hover {
  background-color: blue;
}

.navbar a{
  color: white;
}

/* Footer */
.footer {
  background-color: #424242;
  color: white;
  height: 200px;
  width: 100%;
}

.footer-wrapper {
  font-size: 2em;
  font-family: 'Liu Jian Mao Cao', cursive;

  padding-top: 80px;
  margin: 0 auto;
  max-width: 960px;
}

.footer-left {
  float:left;
}

.footer-right {
  float:right;
}

/** card **/
.card {
  margin: 16px;
  display: block;
  max-width: 300px;
  background-color: rgb(60,79,54);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  transition: 0.3s;

  border-radius: 10px;
  overflow: hidden;
}

.card-content {
  background-color: white;
  padding: 8px;
}

.card hr {
  color: lightgrey;
}

.card-header {
  height: 150px;
  background-color: rgb(60,79,54);

}
